{
  "useTabs": false,
  "printWidth": 90,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
